name: CI

on:
  workflow_call:
    inputs:
      assets:
        description: A directory path to release assets
        type: string
        required: false
    outputs:
      published:
        description: A boolean value to indicate whether a publishing is happened or not
        value: ${{ jobs.release.outputs.published }}
      publishedPackages:
        description: >
          A JSON array to present the published packages. The format is `[{"name": "@xx/xx", "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]`
        value: ${{ jobs.release.outputs.publishedPackages }}
    secrets:
      TOKENS:
        description: JSON string of tokens. Each key-value pair will become an environment variable
        required: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
      - name: Check .changeset/config.json
        run: |
          if [ "$(jq -e '.baseBranch' .changeset/config.json)" != "\"main\"" ]; then
            echo "Error: .changeset/config.json baseBranch should be \"main\""
            exit 1
          fi
          if [ "$(jq -e '.privatePackages.version' .changeset/config.json)" != true ]; then
            echo "Error: .changeset/config.json privatePackages.version should be true"
            exit 1
          fi
          if [ "$(jq -e '.privatePackages.tag' .changeset/config.json)" != true ]; then
            echo "Error: .changeset/config.json privatePackages.tag should be true"
            exit 1
          fi
      - name: Install and test
        run: |
          npm i @rnm/pm -g
          pm-cli enable-shim
          pm install
          pm run test
      - name: Check git status
        run: |
          if [ "$(git status --porcelain | wc -l)" -ne 0 ]; then echo "Error: Git status is not clean"; git status; exit 1; fi
  release:
    name: Release
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/prerelease') }}
    needs: test
    runs-on: ubuntu-latest
    concurrency:
      group: changesets-release # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
    permissions:
      contents: write # to create release (changesets/action)
      id-token: write # OpenID Connect token needed for provenance
      pull-requests: write # to create pull request (changesets/action)
    outputs:
      published: ${{ steps.changesets.outputs.published }}
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#node-version-file
      - run: |
          npm i @rnm/pm -g
          pm-cli enable-shim
          pm install

      - name: Secrets to Envs
        run: |
          echo ${{ toJSON(secrets.TOKENS) }} | jq -r 'to_entries[] | "\(.value)"' | while read value; do echo "::add-mask::$value"; done
          echo ${{ toJSON(secrets.TOKENS) }} | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
          echo 'GITHUB_TOKEN=${{ secrets.github_token }}' >> $GITHUB_ENV

      - name: Create Publish Script
        run: |
          echo '#!/usr/bin/env bash' > /tmp/zanminkian_publish.sh
          echo 'set -ex' >> /tmp/zanminkian_publish.sh
          echo 'export NPM_CONFIG_GIT_CHECKS=false' >> /tmp/zanminkian_publish.sh
          echo 'export NPM_CONFIG_PROVENANCE=true' >> /tmp/zanminkian_publish.sh
          echo 'export NPM_CONFIG_TAG=$(test -f ".changeset/pre.json" && jq -r ".tag" .changeset/pre.json || echo "latest")' >> /tmp/zanminkian_publish.sh
          echo 'pm run release' >> /tmp/zanminkian_publish.sh
          echo './node_modules/.bin/changeset tag' >> /tmp/zanminkian_publish.sh

      - name: Create Release Pull Request or Publish
        id: changesets
        # https://github.com/changesets/action
        uses: changesets/action@v1
        with:
          publish: "sh /tmp/zanminkian_publish.sh"
          commit: "chore: release"
          title: "chore: release"

      - name: Upload Release Assets
        if: ${{ (inputs.assets != '') && (steps.changesets.outputs.published == 'true') }}
        run: |
          version=$(echo '${{ steps.changesets.outputs.publishedPackages }}' | jq -r '.[0].version')
          echo "published version is $version"
          release_id=$(
            curl -L \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.github_token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              "https://api.github.com/repos/zanminkian/web-ide/releases/tags/v$version" | jq -r ".id"
          )
          echo "release id is $release_id"

          for file in $(ls ${{ inputs.assets }}); do
            echo "${{ inputs.assets }}/$file"
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.github_token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              -H "Content-Type: application/octet-stream" \
              "https://uploads.github.com/repos/zanminkian/web-ide/releases/$release_id/assets?name=$file" \
              -T "${{ inputs.assets }}/$file" >/dev/null 2>&1
          done
