name: Release

on:
  workflow_call:
    inputs:
      assets:
        description: A directory path to release assets
        type: string
        required: false
    outputs:
      published:
        description: A boolean value to indicate whether a publishing is happened or not
        value: ${{ jobs.release.outputs.published }}
      publishedPackages:
        description: >
          A JSON array to present the published packages. The format is `[{"name": "@xx/xx", "version": "1.2.0"}, {"name": "@xx/xy", "version": "0.8.9"}]`
        value: ${{ jobs.release.outputs.publishedPackages }}
    secrets:
      TOKENS:
        description: JSON string of tokens. Each key-value pair will become an environment variable
        required: true

concurrency: changesets-release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create release (changesets/action)
      id-token: write # OpenID Connect token needed for provenance
      pull-requests: write # to create pull request (changesets/action)
    outputs:
      published: ${{ steps.changesets.outputs.published }}
      publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js Env and Test
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#node-version-file
      - run: |
          npm i @rnm/pm -g

      - name: Setup project
        run: |
          pm install
          pm run test
          if [ "$(git status --porcelain | wc -l)" -ne 0 ]; then echo "Error: Git status is not clean"; git status; exit 1; fi

      - name: Secrets to Envs
        run: |
          echo ${{ toJSON(secrets.TOKENS) }} | jq -r 'to_entries[] | "\(.value)"' | while read value; do echo "::add-mask::$value"; done
          echo ${{ toJSON(secrets.TOKENS) }} | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
          echo 'GITHUB_TOKEN=${{ secrets.github_token }}' >> $GITHUB_ENV
          echo 'NPM_CONFIG_PROVENANCE=true' >> $GITHUB_ENV

      - name: Create Release Pull Request or Publish
        id: changesets
        # https://github.com/changesets/action
        uses: changesets/action@v1
        with:
          publish: pm run release
          commit: "chore: release"
          title: "chore: release"

      - name: Upload Release Assets
        if: ${{ (inputs.assets != '') && (steps.changesets.outputs.published == 'true') }}
        run: |
          version=$(echo '${{ steps.changesets.outputs.publishedPackages }}' | jq -r '.[0].version')
          echo "published version is $version"
          release_id=$(
            curl -L \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.github_token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              "https://api.github.com/repos/zanminkian/web-ide/releases/tags/v$version" | jq -r ".id"
          )
          echo "release id is $release_id"

          for file in $(ls ${{ inputs.assets }}); do
            echo "${{ inputs.assets }}/$file"
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.github_token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              -H "Content-Type: application/octet-stream" \
              "https://uploads.github.com/repos/zanminkian/web-ide/releases/$release_id/assets?name=$file" \
              -T "${{ inputs.assets }}/$file" >/dev/null 2>&1
          done
